/* 

Stylesheet by Akshit Tripathi 
Fonts by Google Fonts

*/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400|Alegreya+Sans+SC:800);
body {
	background-color: #FFFAFA;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea {
	font-family: "Source Code Pro", sans-serif;
	color: #272822;
	background-color: #FFFFFF;
	resize: none;
	border: solid;
	border-width: 1px;
}

textarea:hover {
	border-color: #6496FF;
}

p {
	color: rgba(0, 0, 0, 0.5);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin: 20px 0; 
	line-height: 1.6;
}

button {
	padding: 13px 72px;
	font-family: "Alegreya Sans SC", sans-serif;
}

input {
	height: 20px;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
}

input:hover {
	border-color: #6496FF;
}

textarea:focus {
	box-shadow: 2px 2px 2px 2px;
}
